@charset "utf-8";

@media screen and (min-width: 768px) and (max-width: 992px){
    body{
        background-image: linear-gradient(to top, rgb(50, 207, 121) , rgb(119, 184, 238));

    }
    section#login{
        width: 80vw;
    }
    section#login > div#img {
        float: left;
        width: 45%;
        height: 100%;
        background-position: center center;
    }

    section#login > div#form  {
        float: right;
        width: 55%;
        
    }
    div#form >p {
        font-size: 1em;
    }
    }

    @media screen and (min-width: 992px) {
        body{
            background-image: linear-gradient(to bottom, rgb(87, 192, 241) , rgb(129, 230, 109));
    
        }

    section#login {

        width: 945px;
    }
    
    section#login > div#img{
        float: right;
        width: 50%;
        height: 100%;
        background-position: center center;
    }
    section#login > div#form {
        float: left;
        width: 50%;
    }
    div#form >p {
        font-size: 1em;
    }
    }