@charset "utf-8";

@media screen and (min-width: 768px) and (max-width: 992px){
    body{
        background-image: linear-gradient(to top, purple , pink);

    }
    section#login{
        width: 80vw;
    }
    section#login > div#img {
        float: left;
        width: 45%;
        height: 100%;
        background-position: center center;
    }

    section#login > div#form  {
        float: right;
        width: 55%;
    }

    }

    @media screen and (min-width: 992px) {
        body{
            background-image: linear-gradient(to bottom, purple , pink);
    
        }

    section#login {

        width: 945px;
    }
    
    section#login > div#img{
        float: left;
        width: 40%;
        height: 100%;
        background-position: center center;
    }
    section#login > div#form {
        float: right;
        width: 60%;
    }
    }